body:not(nav) {
  background-color: #FFFFFF;
}
  
* {
  list-style: none;
}
  
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

h3 {
  font-variant: small-caps;
  text-align: center;
}

.addStage {
  opacity: 0.6;
}

.center {
  margin: 0 auto;
}

.warning {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: green;
}

.red {
  color: red;
}

.pointer {
  cursor: grab;
}

.login, .register, .editStage, .newStage {
  text-align: center;
}
